body {
  margin: 0;
  background: black;
  overflow: hidden;
}

.frame {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cake-area {
  width: 80vw;
  height: 80vh;
  position: relative;
}

.cake-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.candle-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.candle {
  position: absolute;
  width: 12px;
  height: 35px;
  background-color: #7B020B;
  border-radius: 6px/3px;
  z-index: 10;
}

.candle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 6px;
  border-radius: 50%;
  background-color: #ad030f;
}

.flame {
  position: absolute;
  background-color: orange;
  width: 10px;
  height: 25px;
  border-radius: 8px 8px 8px 8px/20px 20px 8px 8px;
  top: -34px;
  left: 50%;
  margin-left: -7.5px;
  z-index: 20;

  box-shadow:
    0 0 10px rgba(255, 165, 0, 0.5),
    0 0 20px rgba(255, 165, 0, 0.5),
    0 0 60px rgba(255, 165, 0, 0.5),
    0 0 80px rgba(255, 165, 0, 0.5);

  transform-origin: 50% 90%;
  animation: flicker 1s ease-in-out alternate infinite;
}

.candle.out .flame {
  display: none;
}

.flame.blowing {
  animation: blow-flicker 0.15s infinite alternate;
  opacity: 0.6 !important;
  height: 15px;
  width: 6px;
  margin-left: -3px;
  box-shadow:
    0 0 4px rgba(255, 165, 0, 0.3),
    0 0 10px rgba(255, 165, 0, 0.3);
}

@keyframes blow-flicker {
  0%   { transform: scale(0.9) skewX(-10deg); }
  100% { transform: scale(0.7) skewX(10deg); }
}

.smoke {
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(200, 200, 200, 0.7);
  animation: smoke-rise 0.8s ease-out forwards;
}

@keyframes smoke-rise {
  0%   { opacity: 0.7; transform: translateY(0) scale(1); }
  100% { opacity: 0; transform: translateY(-30px) scale(1.8); }
}


@keyframes flicker {
  0% { transform: skewX(5deg); }
  25% { transform: skewX(-5deg); }
  50% { transform: skewX(10deg); }
  75% { transform: skewX(-10deg); }
  100% { transform: skewX(5deg); }
}
